.root {
  -fx-background-color: linear-gradient(#b9ffb3, #e9c6c5);
  -fx-font-size: 10pt;
}

.button {
  -fx-background-color: linear-gradient(#dfc3aa, #ab4642);
  -fx-text-fill: #ffffff;
  -fx-background-radius: 6;
}

#bold-label-player1 {
  -fx-text-fill: linear-gradient(#779703, #6d0400);
  -fx-font-weight: bold;
  -fx-font-size: 12pt;
}

#bold-label-player2 {
  -fx-text-fill: linear-gradient(#160079, #158a1e);
  -fx-font-weight: bold;
  -fx-font-size: 12pt;
}

#bold-label-1 {
  -fx-text-fill: #994343;
  -fx-font-weight: bold;
  -fx-font-size: 10pt;
}

#bold-label-2 {
  -fx-text-fill: #753c0c;
  -fx-font-weight: bold;
  -fx-font-size: 10pt;
}

#pembatas {
  -fx-text-fill: #130047;
  -fx-font-size: 15pt;
}
