.root {
  /* -fx-background-color: linear-gradient(#b9ffb3, #e9c6c5); */
  -fx-font-size: 10pt;
  -fx-background-image: url('scene_1.jpg');
  -fx-background-position: center center;
  -fx-background-repeat: no-repeat;
}

.button {
  -fx-background-color: linear-gradient(#80644a, #491615);
  -fx-text-fill: #ffffff;
  -fx-background-radius: 6;
}

#bold-label {
  -fx-text-fill: #7a2b06;
  -fx-font-weight: bold;
  -fx-font-size: 15pt;
}
